@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --cor-de-fundo: #131212;
    --verde: #20a708;
    --branco: #FFFFFF;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
}

h1 span{
    color: var(--verde);
}

#dias_restante{
    color: var(--verde);
    font-size: 50px;
}